
.login-container {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -225px;
}

.h1reg {
    color: darkgreen;
    text-align: center;
}
.login-container div{
    height: 80px;
}