


/*HEADER*/
.header{
    height: 100px;
    width: 100%;
    background: url(../images/header.jpg);
    color: #ffffff;
    padding:10px;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    background-size: auto auto;
}

.header>div{ /*Все элементы хэдера в ряд*/
    height: 50px;
    display: inline-block;
}

/*END OF HEADER*/

/*CENTER*/
.notHeader{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
/*SIDEBAR*/
.sidebar{
    float: left;
    width: 20%;
    /*border: solid #204d74 medium;*/
}

.sidebar button{
    width: 100%;
    height: 50px;
    padding: 0;
    border-radius: 0;
    line-height: initial;
    color: inherit!important;
    box-shadow: none;
    background-color: transparent;
    border: none;
}
.sidebar button:hover{
    padding: 0;
    border-radius: 0;
    line-height: initial;
    color: inherit!important;
    box-shadow: none;
    background-color: #e9e9e9;
    border: none;
}
/*Картинки в sidebar*/
.sidebar img{
    width: 32px;
}

/*END OF SIDEBAR*/

/*CONTENT*/
.content{
    float: right;
    width: 80%;
}

.itemSite {

}
/*END OF CONTENT*/
/*END OF CENTER*/

/*FOOTER*/
.footer{
    clear: both;
    height: 100px;
    background: #286090;
}
/*END OF FOOTER*/

.h1{
    color: #4cae4c;
}

.rounded{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px #dddddd;
    -webkit-box-shadow: 0px 5px 10px #717171;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: #ededed;*/
    overflow: hidden;
    margin: 5px;
}

.logoutButton {
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 9px 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 16px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.logoutButton:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
    text-decoration: none;
}
.logoutButton:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
}

